{% extends "base.html" %} {% block content %}
<br>
<form>
    <fieldset>
        <legend>Login</legend>
        {{ form.hidden_tag() }}

        <div style=font-size:20px; font-weight:bold; margin-left:150px;>

            {{ form.email.label }}<br>
            {{ form.email }}
            <br>

            {{ form.password.label }}<br>
            {{ form.password }}
            <br>

            {{ form.submit }}
        </div>
        <button> Don't have an account? Sign Up</button>
    </fieldset>
</form>



{% endblock %}