<link rel="stylesheet" href="/static/style.css" type="text/css">
{% extends "base.html" %} {% block content %}
<br>

<form action="/signup" method="POST">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Sign Up</h1>
            </div>

            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="Email" name="username">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="Password" name="password">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <input type="submit" value="Sign Up" class="btn btn-primary btn-large btn-block">
                <br>
            </div>
        </div>
    </div>
</form>
<a class="btn btn-primary btn-large btn-block"href="{{ url_for('home') }}"> Already have an account? Log In</a>





{% endblock %}

<!-- 


    <form>
    <fieldset>
        <legend>Login</legend>
        {{ form.hidden_tag() }}

        <div style=font-size:20px; font-weight:bold; margin-left:150px;>

            {{ form.email.label }}<br>
            {{ form.email }}
            <br>

            {{ form.password.label }}<br>
            {{ form.password }}
            <br>

            {{ form.submit }}
        </div>
        <button> Don't have an account? Sign Up</button>
    </fieldset>
</form>

-->